*{
    padding: 0;
    margin: 0;
}
html,body{
   height: 100%;
   font-family: 'Lato', sans-serif;
}
body{
    background: #d0d8fd;
    background-image:url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.Card{
    width: 400px;
    height: 580px;
    background: #fff;
    border-radius: 15px;
    
}
.hero{
    width: 400px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.text-container .title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 900;
    color: hsl(223, 47%, 23%);
}
.text-container p{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    color: grey;
    line-height: 150%;
}
.pnan-section{
    width: 300px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 20px 45px 20px ;
    padding: 5px;
    background: white;
    border-radius: 10px;
}
.pnan-section img{
    align-items: left;
}
.pnan-section p{
    display: block;
    margin: auto;
    font-weight: bold;
    font-size: 18px;
    color: black;
}
.pnan-section a{
    margin: auto;
    font-weight: bolder;
    font-size: 18px;
    color: blue;
}
.pnan-section a:hover{
    color: #879cfc;
    text-decoration:none;
}
.pnan-section small{
    color: rgb(141, 151, 151);
}
.btn-primary{
    width: 300px;
    display: grid;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.btn-primary .main-btn{
    background: hsl(245, 75%, 52%);
    border-radius: 8px;
    color:hsl(225, 100%, 94%);
    width: 340px;
    padding: 15px;
    font-size: 15px;
    font-weight: bold;
    box-shadow: 0px 20px 50px rgb(223, 201, 248);
    cursor: pointer;
}
.btn-primary .main-btn:hover{
    background-color:hsl(261, 71%, 57%);
}
.btn-primary .order-cancel{
    padding: 30px;
    font-size: 17px;
    font-weight: bold;
    color: hsl(224, 23%, 55%);
    cursor: pointer;
}
.btn-primary .order-cancel:hover{
    color: #222429;
}
.attribution{
    font-size: 11px; 
    text-align: center; 
    padding-top: 20px;
}
.attribution a{
    color: hsl(228, 45%, 44%);
}